<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337876732571-lqeua8rjv7njjcqk8nnq8rjrjurgt7jv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337876732571-lqeua8rjv7njjcqk8nnq8rjrjurgt7jv</string>
	<key>API_KEY</key>
	<string>AIzaSyC_smdABv667hH306PkE0snpD8xtejBZEk</string>
	<key>GCM_SENDER_ID</key>
	<string>337876732571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SSDev.LoginChallenge</string>
	<key>PROJECT_ID</key>
	<string>loginchallenge-dbced</string>
	<key>STORAGE_BUCKET</key>
	<string>loginchallenge-dbced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337876732571:ios:836deb2c844e5ae31ed43e</string>
	<key>DATABASE_URL</key>
	<string>https://loginchallenge-dbced.firebaseio.com</string>
</dict>
</plist>